.profile__add-element {
  width: 150px;
  height: 50px;
  background-image: url("../../../images/AddButton.svg");
  background-color: transparent;
  border: 2px solid #FFFFFF;
  background-position: center;
  border-radius: 2px;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__add-element {
    background-image: url("../../../images/AddButton2.svg");
    width: 282px;
    margin: 32px auto 0;
  }
}

.profile__add-element {
  opacity: 0.6;
}
