.element__button-like {
  background-image: url("../../../images/Group.svg");
  background-color: #FFFFFF;
  width: 22px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
  padding: 0;
  margin-top: 6px;
}

.element__button-like:hover {
  opacity: 0.5;
}
